
body {
    background: #cdead3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #eef2f3,
        #cdead3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #eef2f3,
        #cdead3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar {
    height: 100vh;
    background-color: #004928;
}
.sidebar .nav-link {
    color: white;
    border-radius: 10px;
}
.sidebar .nav-link.active {
    background-color: #009245;
    transform: translateX(10px);
}

.logo {
    padding: 20px 0;
}

.logo img {
    max-width: 150px;
}

.nav-item:hover{
    background-color: #009245;
    border-radius: 10px;
    transform: translateX(10px);
}
.nav-item{
    margin-bottom: 20px;
    transition: all 0.5s;
    width: 80%;

}

.text-verde{
    color: #007f46;
    font-weight: bold;
}

.card{
    border-radius: 15px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    min-width: 20%;
    max-width: 100%;
    background-color: #ffffff;
}

.mapa{
    border-radius: 15px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    min-width: 70%;
    max-width: 70%;
    background-color: #ffffff;

}

.mapa-infos{
    border-radius: 15px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    min-width: 20%;
    max-width: 30%;
    background-color: #ffffff;

}
