{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link href="{% static '/css/styles.css' %}" rel="stylesheet">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-4 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <div class="logo text-center  text-light">
                        <!-- <img src="supermetrics-logo.png" alt="Supermetrics Logo" class="img-fluid"> -->
                        <h3>SuperMetrics</h3>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a id="link-inicio" class="nav-link" href="#inicio" onclick="troca_active('link-inicio')">Início</a>
                        </li>
                        <li class="nav-item">
                            <a id="link-relatorios" class="nav-link" href="#relatorios" onclick="troca_active('link-relatorios')">Relatórios</a>
                        </li>
                        <li class="nav-item">
                            <a id="link-mapa" class="nav-link" href="#mapa" onclick="troca_active('link-mapa')">Mapa</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div>
                    <div class="bg-light p-3 mt-3 card col-12" id="inicio">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h2 class="text-verde">Bem-vindo ao SuperMetrics</h2>
                        </div>
                        <p>Um sistema para <span class="text-verde">VOCÊ</span> acompanhar os relatórios do <span class="text-verde">SEU NEGÓCIO</span> de fomra mais assertiva.</p>
                    </div>
                    <div class="bg-light p-3 mt-3 card" id="relatorios">
                        <div class="mb-3">
                            <h5 class="text-verde m-0">Relatórios</h5>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="col me-2 p-3 card ">
                                <p class="text-verde text-start fw-bold">Quantidade de compras por mês</p>
                                <div>
                                    {% for mes in meses %}
                                        <button>{{mes}}</button>
                                    {% endfor %}
                                </div>
                                <div class="grafico">
                                    {{grafico_mes | safe}}
                                </div>
                            </div>
                            <div class="col p-3 card ">
                                <p class="text-verde text-start fw-bold">Quantidade de compras Cidade x Interior</p>
                                <div class="grafico-div">
                                    {{grafico_pizza | safe}}
                                </div>
                            </div>
                            <div class="col p-3 grafico-div grafico-barras">
                                <p class="text-verde text-start fw-bold">Quantidade de compras Cidade x Interior</p>
                                {{grafico_barras | safe}}
                            </div>
                            <div class="col p-3 grafico-div grafico-barras">
                                <p class="text-verde text-start fw-bold">Quantidade de compras por produto no útlmo mês</p>
                                {{grafico_produtos | safe}}
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-3 mt-3 card mb-5" id="mapa">
                        <div class="mb-3">
                            <h5 class="text-verde m-0">Mapa</h5>
                            <p class="text-verde text-start fw-bold">Quantidade de compras por bairro</p>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="col me-2 p-3 mapa-div">
                                <div class="mapa-calor">
                                    {{mapa | safe}}
                                </div>
                            </div>
                            <div class="col p-3 mapa-infos">
                                <div class="label-fixo mt-0">
                                    <h5 class="text-start">Quantidade por Bairro:</h5>
                                </div>
                                <div class="texto-rolavel">
                                    {% for r in realtorio_mapa %}
                                        <p class="m-0"><b>{{r.cidade_abreviada}} - {{r.trabairro}}</b> {{r.total_compras}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        function troca_active(id_elemento) {
            // Obtém o hash da URL, removendo o '#'
            var campo = document.getElementById(id_elemento)

            var links = document.querySelectorAll('.nav-link');
            
            links.forEach(function(link) {
                link.classList.remove('active')    
            });
            campo.classList.add('active');
            // classList.remove('active')
        }
    </script>
{% endblock %}
